.hidden{
  display: none;
}

.search-container{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.content-container{
  border: 1px solid blue;
  text-align: center;
}

.vote-buttons-container{
  border: 1px solid green;
  height: 50px;
}

.ballot-content{
  border: 1px solid purple;
}